/* 'Gideon Roman' 400, 'Source Sans Pro' 400 700 */
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Source+Sans+Pro:wght@400;700&display=swap');

:root{
    --main-color: rgb(10, 39, 134);
    --secondary-color: rgb(81, 10, 94);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Gideon Roman';
    font-weight: 400;
}

/* Navigation */
.nav-bar{
    /* Note: shadow is under hero bg-image */
    box-shadow: 0px 12px 2px rgba(0,0,0,0.5);
}

.nav-bar h1{
    color: var(--main-color);
    font-family: 'Source sans pro';
    font-weight: 700;
}

.nav-bar a{
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
    border-bottom: 1px solid black;
}

.nav-container{
    padding: 1rem 1.8rem;
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-container > h1{
    flex-grow: 1;
}

/* Hero */
.hero{
    min-height: 860px;
    background: url('../img/spacebg.jpg') rgba(0,0,0,0.7) no-repeat center;
    background-size: cover;
    background-blend-mode: multiply;

    position: relative;
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 18vw;
    color: white;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.hero-logo{
    font-size: 14rem;
}

.hero-title{
    font-family: 'Source Sans Pro';
    font-size: 3.4rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.hero-title > span{
    color: var(--main-color);
}

.hero-content > p{
    align-self: flex-start;
    font-size: 1.5rem;
    font-family: 'Source Sans Pro';
    line-height: 36px;
}